[submodule "src/vim/bundle/Vundle.vim"]
	path = config/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "src/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
