*.swp
*.DS_Store
*.netrwhist

# ignore all tmux plugins except tpm
dot/tmux/plugins/
!dot/tmux/plugins/tpm

# ignore all vim stuff except a couple things to track
dot/vim/
!!dot/vim/colors/
!dot/vim/bundle/Vundle.vim
