[submodule "dot/vim/bundle/Vundle.vim"]
	path = dot/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "dot/tmux/plugins/tpm"]
	path = dot/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
