
[submodule "src/vim/bundle/ctrlp.vim"]
	path = src/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "src/vim/bundle/nerdtree"]
	path = src/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "src/vim/bundle/syntastic"]
	path = src/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "src/vim/bundle/tagbar"]
	path = src/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "src/vim/bundle/vim-airline"]
	path = src/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "src/vim/bundle/vim-css-color"]
	path = src/vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
